.pointForm {
    display: flex;
    flex-direction: column;
}

.newPointInput {
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 1%;
}

.pointForm button {
    font-family: Montserrat, sans-serif;
    text-transform: none;
    color: rgb(255, 167, 196);
}