.app-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1% 30%;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  text-align: center;
}

@media (max-width: 992px) {
  .app-wrapper {
    padding: 0 5%;
  }
}
